In [1]:
import pandas as pd
import yfinance as yf
from tqdm import tqdm
df = pd.read_csv('../data/raw_analyst_ratings.csv', usecols=['date', 'stock'])
df.head()

                        date stock
0  2020-06-05 10:30:54-04:00     A
1  2020-06-03 10:45:20-04:00     A
2  2020-05-26 04:30:07-04:00     A
3  2020-05-22 12:45:06-04:00     A
4  2020-05-22 11:38:59-04:00     A

In [2]:
def fetch_stock_prices(symbol, start_date, end_date):
    ticker = yf.Ticker(symbol)
    return ticker.history(start=start_date, end=end_date)

In [3]:
#changing to date object
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [4]:
#grouping the stock based on their symbol to identify range
grouped_stock = df.groupby('stock')['date'].agg(['min', 'max'])
print(grouped_stock)

                            min                       max
stock
A     2020-05-22 08:06:17-04:00 2020-06-05 10:30:54-04:00
AA    2020-05-18 10:50:11-04:00 2020-06-09 10:52:15-04:00
AAC   2019-08-30 08:10:37-04:00 2019-10-25 16:09:59-04:00
AADR  2013-03-05 15:42:46-04:00 2013-09-06 15:06:35-04:00
AAL   2020-06-08 10:19:28-04:00 2020-06-10 11:21:01-04:00
...                         ...                       ...
ZTR   2016-04-01 15:23:43-04:00 2020-03-19 10:49:42-04:00
ZTS   2020-05-05 12:44:19-04:00 2020-06-11 10:22:31-04:00
ZU    2015-08-17 10:36:13-04:00 2020-01-09 14:34:23-04:00
ZUMZ  2020-04-13 10:01:37-04:00 2020-06-05 07:24:15-04:00
ZX    2017-11-14 13:25:57-04:00 2018-06-15 09:01:12-04:00

[6204 rows x 2 columns]

In [5]:
#res result dict


#since fetching all the stock (6204) will take time I took sample for this example
grouped_stock = grouped_stock.sample(5)
#itterate and fetch
for symbol, row in tqdm(grouped_stock.iterrows(), total=grouped_stock.shape[0], desc="Processing rows"):
    stock_prices = fetch_stock_prices(symbol, row['min'], row['max'])
    print(f"Stock prices for {symbol} from {row['min']} to {row['max']}")
    print(stock_prices)
    break

Processing rows:   0%|                                                                                                                    | 0/5 [00:00<?, ?it/s]HIL: No timezone found, symbol may be delisted
Processing rows:   0%|                                                                                                                    | 0/5 [00:06<?, ?it/s]

Stock prices for HIL from 2020-03-16 17:56:26-04:00 to 2020-05-11 05:14:23-04:00
Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []